.logo {
  width: 80px;
}
.avatar {
  position: fixed;
  right: 20px;
  width: 30px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* 
.nav text{
    color: #fff;
} */
