.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.small_posters{
   
    float: left;
}

.posters::-webkit-scrollbar {
    display: none; 
}
.poster{
    max-height: 220px;
    margin-right: 10px;
    cursor: pointer;
}
.poster:hover{
    transform: scale(1.1);   
}

.small_poster:hover{
    transform: scale(1.1);   
}








.pop_back{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgb(75, 74, 74,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pop{
    min-height: 10rem;
    position: absolute;
    margin: auto;
    background-color: #111;
}
.pop_left{
    min-height: 10rem;
    float: left;
}
.pop_info{
    min-height: 10rem;
    float: left;
}
.pop_img{
    height: auto;
    object-fit: cover;
    float: left;
 
}
.pop h2{
    font-size: 22px;
    margin-left: 33px;
    margin-top: 22px;
    float: left;

}
.pop p{
    float: left;
    font-size: 0.9rem;
    margin-left: 33px;
    margin-top: 10px;
    margin-right: 20px;

}
.pop_text{
    float: left;
    height: 185px;
    overflow: hidden;
}
.pop_rate{
    bottom: 0;
    float: left;
    margin-left: 60px;
}
.pop_rate h6{
    top: 0;
    font-size: 10px;
    color: #fff;
    display: inline-block;
}
.pop_button{
    height: 78px;
    float: left;
    margin-top: 10px;
}
.pop_button button{
    background-color: rgb(95, 16, 16);
    height: 45px;
    width: 8rem;
}
.pop_button button:hover{
    background-color: brown;
}

.under-text{
    display: flex;
    justify-content: space-evenly;
}
.under-text h6{
    font-size: 0.8rem;
}