.banner{
    background-size: cover;
    height: 445px;
    color:white ;
    width: 100%;

}

.content2{
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;

}

.title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}
.button2{
    color: white;
    outline: none;
    border: none;
    font-weight: 300;
    border-radius: 5px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    cursor: pointer;
    margin-right: 1rem;
    height: 30px;
    width: 107px;
    font-size: revert;
}

.button2:hover{
    color: black;
    background-color: #e6e6e6;
}

.description{
    width: 45rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    font-size: 1rem;
    height: 160px;
    max-width: 360px;
    overflow: hidden;

}

.fade12{
    margin-top: 6rem;
    height: 16.4rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,61),#111);
}